
/*********************/
/*    04. Header     */
/*********************/

 .header {
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* text-align: center; */
}

.header .text-container {
    /* margin-top: 6rem; */
    margin-bottom: 4rem;
}

.header h1 {
    margin-bottom: 1.125rem;
    font-size: 2.5rem;
    line-height: 3.125rem;
}

.header .p-large {
    margin-bottom: 1.875rem;
    color: rgb(28, 25, 21);
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.btn-solid-reg {
    display: inline-block;
    padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
    border: 0.125rem solid #00bfd8;
    border-radius: 2rem;
    background-color: #00bfd8;
    color: #fff;
    font: 700 0.75rem/0 "Raleway", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-reg:hover {
    background-color: transparent;
    color: #00bfd8;
    text-decoration: none;
}

.btn-solid-lg {
    display: inline-block;
    padding: 1.375rem 2.625rem 1.375rem 2.625rem;
    border: 0.125rem solid #002146;
    border-radius: 10px;
    background-color: #002146;
    color: #fff;
    font: 700 0.75rem/0 "Raleway", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-lg:hover {
    background-color: transparent;
    color: #002146;
    text-decoration: none;
}

.btn-outline-reg {
    display: inline-block;
    padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
    border: 0.125rem solid #00bfd8;
    border-radius: 2rem;
    background-color: transparent;
    color: #00bfd8;
    font: 700 0.75rem/0 "Raleway", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-reg:hover {
    background-color: #00bfd8;
    color: #fff;
    text-decoration: none;
}

.btn-outline-lg {
    display: inline-block;
    padding: 1.375rem 2.625rem 1.375rem 2.625rem;
    border: 0.125rem solid #00bfd8;
    border-radius: 2rem;
    background-color: transparent;
    color: #00bfd8;
    font: 700 0.75rem/0 "Raleway", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-lg:hover {
    background-color: #00bfd8;
    color: #fff;
    text-decoration: none;
}

.btn-outline-sm {
    display: inline-block;
    padding: 1rem 1.625rem 0.875rem 1.625rem;
    border: 0.125rem solid #00bfd8;
    border-radius: 2rem;
    background-color: transparent;
    color: #00bfd8;
    font: 700 0.625rem/0 "Raleway", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-sm:hover {
    background-color: #00bfd8;
    color: #fff;
    text-decoration: none;
}


body,
p {
    color: #626262;
    font: 400 0.875rem/1.375rem "Raleway", sans-serif;
}

.p-large {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14.455px;
    line-height: 25px;
}

.p-small {
    font: 400 0.75rem/1.25rem "Raleway", sans-serif;
}

.p-heading {
    margin-bottom: 3.875rem;
}

.li-space-lg li {
    margin-bottom: 0.25rem;
}

.indent {
    padding-left: 1.25rem;
}

h1 {
    color: #393939;
    font: 700 3rem/3.5rem "Raleway", sans-serif;
}

h2 {
    color: #393939;
    font: 700 2.25rem/2.75rem "Raleway", sans-serif;
}

h3 {
    color: #393939;
    font: 700 1.75rem/2rem "Raleway", sans-serif;
}

h4 {
    color: #393939;
    font: 700 1.375rem/1.875rem "Raleway", sans-serif;
}

h5 {
    color: #393939;
    font: 700 1.125rem/1.625rem "Raleway", sans-serif;
}

h6 {
    color: #393939;
    font: 700 1rem/1.5rem "Raleway", sans-serif;
}

a {
    color: #626262;
    text-decoration: underline;
}

a:hover {
    color: #626262;
    text-decoration: underline;
}

a.turquoise {
    color: #002146;
}

a.white {
    color: #fff;
}

.turquoise {
    color: #002146;
    font-size: 1.2rem;
 
}

.turquoise_two{
    color: #002146;
    font-family: 'Montserrat';
    font-size: larger;
    width: 444px;
    height: 79px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 38px;
}

